.dropdownContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 14px;
  margin-bottom: 2px;
}

.select {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid;
  font-size: 16px;
  transition: border 0.2s;
  background: inherit;
}

.select:focus {
  outline: none;
}
