.label {
  font-size: 14px;
}

.select {
  margin-top: 0.5rem;
  border-radius: 6px;
  border: 1px solid;
  font-size: 16px;
}

.select:focus {
  outline: none;
}

.select:hover {
  cursor: pointer;
}
