.header {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.title {
  flex: 1;
  text-align: center;
}

.settings_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more_info {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1rem;
  background-color: #d74e4e;
}

.device_list {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #3c1111;
}
